In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
plt.style.use('fivethirtyeight')

In [4]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/H2GTRE.TTF").get_name()
rc('font', family=font_name)

In [5]:
data = pd.read_csv('data.csv', encoding = 'cp949')

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
pd.set_option('display.max.columns',999)

In [7]:
pd.set_option('display.max.rows',999)

In [9]:
len(data['도로명'].unique())

7317

In [10]:
data.columns

Index(['상용여부', '장비명', '통합시설코드', '장비ID', 'MAC', 'WiFi MAC', 'WiFi 5G MAC',
       '등록일', '시작일', '종료일', 'Twifi Zone명', 'Site 명', 'Twifi 업종유형(중)',
       'Twifi 업종유형(소)', 'ERP상태', '본부', '팀', '장비유형', '모델명', '전송로유형', '공급사',
       '제조사', '장비 IP', 'H/W버전', 'S/W버전', '장비상태', '대기일자', '인수요청일', '상용일',
       '우편번호', '시', '군', '동', '리', '번지', '호', '빌딩명', '빌딩동', '상호명', 'AP설치위치',
       '설치층', '총층수', '서비스층', '위도 도', '위도 분', '위도 초', '위도 시', '경도 도', '경도 분',
       '경도 초', '경도 시', '시/도', '구/군', '도로명', '건물명', '건물본번', '건물부번', '상세주소',
       '체감측정속도(MB/s)', '백홀속도(MB/s)', '백홀 망사업자'],
      dtype='object')

In [11]:
data.isnull().sum()

상용여부                  0
장비명                   0
통합시설코드                0
장비ID                  0
MAC                   0
WiFi MAC            325
WiFi 5G MAC       19280
등록일                   0
시작일                  63
종료일              101746
Twifi Zone명          38
Site 명               34
Twifi 업종유형(중)        17
Twifi 업종유형(소)        52
ERP상태                 0
본부                    0
팀                     3
장비유형                  0
모델명                  28
전송로유형                77
공급사                   0
제조사                   0
장비 IP                25
H/W버전                25
S/W버전                25
장비상태                  0
대기일자                 58
인수요청일             15134
상용일                2524
우편번호                  0
시                     0
군                   140
동                     6
리                 86044
번지                  114
호                 43345
빌딩명               37651
빌딩동               32541
상호명               29423
AP설치위치              291
설치층                  60
총층수                 585
서비스층                 60
위도 도                 30
위도 분                 30
위도 초                 30
위도 시                 79
경도 도                 30
경도 분                 30
경도 초                 30
경도 시                 91
시/도                   0
구/군                 140
도로명               22361
건물명               37651
건물본번               2686
건물부번               2700
상세주소              25043
체감측정속도(MB/s)      91566
백홀속도(MB/s)         8388
백홀 망사업자               0
dtype: int64

## 사용할 컬럼 선택

In [9]:
use_col = ['장비명','Site 명','Twifi 업종유형(중)',
       'Twifi 업종유형(소)',  '시/도', '구/군']

In [10]:
d = data[use_col]

In [26]:
d = d[d['시/도'] == '서울']

In [37]:
d.head()

,장비명,Site 명,Twifi 업종유형(중),Twifi 업종유형(소),시/도,구/군
70,강북여성보육정보센터 2F 어린이도서관,강북여성보육정보센터,교육,외부교육시설,서울,강북구
111,우정사업본부(광화문) 4F 보험관리사,우정사업본부(광화문),관공서,공공기관,서울,종로구
281,청담어학원 광진 브랜치 4F 사무실,청담어학원 광진 브랜치 4F,교육,진학학원/학교,서울,광진구
282,기아자동차 Q-서비스 중곡점,기아자동차 Q-서비스 중곡점,생활/쇼핑,카센터,서울,광진구
283,샤롯데씨어터F4_4층로비,샤롯데씨어터,문화/레저,전시관람공연체험,서울,송파구

In [27]:
d['Twifi 업종유형(중)'].value_counts()

교육        5865
의료        3740
운송(고정)    2845
생활/쇼핑     2630
기업        1876
스트리트      1569
관공서       1539
외식/카페     1089
문화/레저      729
숙박         613
스포츠        572
금융         244
종교         165
운송(이동)       8
Name: Twifi 업종유형(중), dtype: int64

In [50]:
d[d['Twifi 업종유형(중)'] == '교육']['Twifi 업종유형(소)'].value_counts()

대학교        5039
도서관/독서실     320
외부교육시설      160
진학학원/학교     156
고등학교         80
직업학원/학교      58
대학원          45
초등학교          7
Name: Twifi 업종유형(소), dtype: int64

In [51]:
d[d['Twifi 업종유형(중)'] == '생활/쇼핑']['Twifi 업종유형(소)'].value_counts()

대형쇼핑몰       1290
기타생활/매장      360
중형쇼핑몰        239
생활스포츠        148
자동차매장        128
카센터           95
사우나/찜질방       72
편의점           66
미용실           64
장례식장          48
마트/슈퍼         42
예식장           32
핸드폰매장         26
핸드폰A/S센터      16
주유소            2
Name: Twifi 업종유형(소), dtype: int64

In [49]:
d[d['Twifi 업종유형(중)'] == '외식/카페']['Twifi 업종유형(소)'].value_counts()

기타외식카페     818
유명외식        96
유명패스트푸드     86
유명커피        73
유명피자         9
유명아이스크림      7
Name: Twifi 업종유형(소), dtype: int64

In [28]:
d[d['Twifi 업종유형(중)'] == '관공서']['Twifi 업종유형(소)'].value_counts()

공공기관       1041
보건소/복지관     234
주민센터        224
시군구도청        40
Name: Twifi 업종유형(소), dtype: int64

In [29]:
d[d['Twifi 업종유형(중)'] == '의료']['Twifi 업종유형(소)'].value_counts()

대형병원     2864
중형병원      717
개인병원등     159
Name: Twifi 업종유형(소), dtype: int64

In [30]:
d[d['Twifi 업종유형(중)'] == '운송(고정)']['Twifi 업종유형(소)'].value_counts()

지하철역사    2751
터미널        54
공항         22
기차역사       15
휴게소         3
Name: Twifi 업종유형(소), dtype: int64

In [31]:
d[d['Twifi 업종유형(중)'] == '기업']['Twifi 업종유형(소)'].value_counts()

사옥건물      1071
비즈니스센터     357
방송언론       248
기타기업       199
Name: Twifi 업종유형(소), dtype: int64

In [32]:
d[d['Twifi 업종유형(중)'] == '문화/레저']['Twifi 업종유형(소)'].value_counts()

전시관람공연체험    291
문화/예술회관     287
영화관         150
야영장           1
Name: Twifi 업종유형(소), dtype: int64

In [47]:
d[d['Twifi 업종유형(소)'] == '전시관람공연체험']['Site 명'].value_counts() # 주관적인 판단

올림픽공원                  30
국립국악원                  22
국립한글박물관                21
어린이대공원상상나라             20
세븐럭카지노 강남점             15
어린이대공원교양관              11
대한민국예술인센터              10
DDP(을지로7가) 알림터          9
국회의사당 헌정기념관             9
키자니아(잠실동)               9
롯데월드 어드벤처               8
DDP(을지로7가) 디자인장터        8
SETEC 컨벤션동              7
샤롯데씨어터                  7
암사선사유적지                 6
서울시립미술관 본관              5
DDP(을지로7가) 살림터          5
구로아트밸리예술극장(구로동)         5
SETEC 전시관 1전시관          4
DDP(을지로7가) 살림터2         4
롯데월드                    4
국립중앙박물관                 4
어린이대공원영선반               4
DDP(을지로7가) 배움터          4
SETEC 전시관 3전시관          4
어린이대공원들새장변전실            3
어린이대공원분수대화장실            3
코엑스 컨벤션(삼성동)            3
어린이대공원축구장화장실            3
어린이대공원모험의나라             3
유니플렉스                   3
어린이대공원방정환화장실            2
SH아트홀 대학로점              2
코엑스 컨벤션 2F 어린이집         2
샤롯데 씨어터                 2
서울시립미술관(서소문동) 본관 1F     2
서울오토갤러리                 2
아르코예술극장 소극장 옥외형         1
코엑스 컨벤션 3F D홀           1
유니플렉스 5F                1
롯데월드 어드벤처 B1            1
구로아트밸리예술극장 1F 만남의광장     1
코엑스 컨벤션 4F 출연자대기실       1
빌리토피아                   1
뚝섬안내센타                  1
유니플렉스 6F                1
SETEC 컨벤션동 3층           1
누리꿈스퀘어                  1
코엑스 컨벤션 3F C홀 오디토리움     1
코엑스 컨벤션 3F 흡연실          1
한생연 HLS 별관(목동)          1
코엑스 컨벤션 2F 복도           1
롯데월드 웰빙센터               1
기아자동차 도봉지점              1
유니플렉스 B2                1
난지안내센타                  1
유니플렉스 B5                1
코엑스 컨벤션 2F AHU4         1
유니플렉스 4F                1
유니플렉스 3F                1
코엑스 컨벤션 2F AHU12        1
SETEC 전시관 2전시관          1
코엑스 컨벤션 3F A홀           1
Name: Site 명, dtype: int64

In [48]:
d[d['Twifi 업종유형(소)'] == '영화관']['Site 명'].value_counts() # 주관적인 판단

스타플랙스                        26
아트레온(창천동)                    10
대한극장                         10
롯데시네마 강동                      7
메가박스 코엑스점                     6
메가박스 신촌점 5F                   5
팜스퀘어                          5
CGV                           5
프리머스 장안점                      5
메가박스 수유점                      5
메가박스 강남                       4
CGV 청담씨네시티                    4
토로스쇼핑타워                       4
롯데시네마 강남씨티                    4
디지털파빌리온                       3
롯데시네마 가산디지털점                  3
CGV 성신여대입구 12F                2
왕십리 민자역사 서관                   2
메가박스 상봉                       2
아리랑시네센터                       2
스타플랙스 3F                      2
메가박스 신촌점 6F                   2
CGV 명동 8F                     1
CGV 압구정 B1 휴게실_GD             1
군자CGV 3F                      1
롯데시네마 누리꿈                     1
필름포럼                          1
롯데월드 어드벤처 B1                  1
군자CGV 11F                     1
메가박스 불광점8F                    1
대_메가박스 불광점5F 계단실앞_GD          1
CGV(미아점) 9F                   1
롯데시네마 황학 1F                   1
CGV 천호점                       1
메가박스 불광점6F                    1
군자CGV 9F                      1
CGV(미아점) 10F                  1
롯데시네마 강남씨티 1F                 1
군자CGV 1F                      1
메가박스 불광점7F                    1
CGV 압구정 B3                    1
CGV 성신여대입구                    1
CGV 성신여대입구 11F                1
문화일보(충정로1가)                   1
군자CGV 7F                      1
대_피카디리극장 종로 지하4층 게임룸_GD       1
CGV강동                         1
하이해리엇(충무로2가) CGV 명동역 10F      1
대_피카디리극장 종로 지하1층 극장사무실_GD     1
군자CGV 5F                      1
CGV 압구정 B2                    1
CGV(미아점) 11F                  1
군자CGV B1                      1
하이해리엇(충무로2가) CGV 명동역 11F      1
Name: Site 명, dtype: int64

In [33]:
d[d['Twifi 업종유형(중)'] == '숙박']['Twifi 업종유형(소)'].value_counts()

호텔/콘도    395
고시텔      199
기업기숙사     19
Name: Twifi 업종유형(소), dtype: int64

In [34]:
d[d['Twifi 업종유형(중)'] == '스포츠']['Twifi 업종유형(소)'].value_counts()

대형경기관람시설    486
체육관          83
컨트리클럽         3
Name: Twifi 업종유형(소), dtype: int64

In [35]:
d[d['Twifi 업종유형(중)'] == '종교']['Twifi 업종유형(소)'].value_counts()

종교    165
Name: Twifi 업종유형(소), dtype: int64

## EDA

In [18]:
( data['시/도'].value_counts() / len(data) ) * 250

서울    69.549278
경기    38.332974
부산    24.045719
대전    22.158723
대구    19.463015
충남    17.629933
광주    14.341169
인천    10.675005
충북     8.734095
경남     6.685357
전북     4.798361
울산     3.234850
강원     2.587880
경북     2.533966
전남     2.210481
제주     2.102653
세종     0.916541
Name: 시/도, dtype: float64

In [20]:
data2 = data[use_col]

In [ ]:
# 강원 3개

In [22]:
k = data[data2['시/도'] == '강원']

In [23]:
k_site = k['Site 명'].tolist()

In [24]:
new_site = []
for i in k_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)

In [25]:
k['new_site'] = new_site

C:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [125]:
k['new_site'].value_counts()

원주AK프라자          25
AK프라자            14
춘천 이마트            2
롯데마트 온의점_문화센터     1
강릉이마트             1
이마트 원주점           1
롯데마트 온의점_다이소      1
한솔프라자             1
강릉이마트 B1          1
원주AK프라자 B2        1
Name: new_site, dtype: int64

In [26]:
k[k['new_site'] == '이마트 원주점'][['시/도','구/군','도로명']]

     시/도  구/군  도로명
2884  강원  원주시  북원로

In [ ]:
# 충남 18

In [111]:
cn[cn['new_site'] == '천안 펜타포트몰'].도로명

3762     공원로
4512     공원로
5746     공원로
9516     공원로
13978    공원로
23486    공원로
24243    공원로
25762    공원로
27204    공원로
27855    공원로
29231    공원로
29477    공원로
30505    공원로
50711    공원로
50739    공원로
57564    공원로
58550    공원로
59566    공원로
60310    공원로
60311    공원로
60313    공원로
60314    공원로
60315    공원로
60316    공원로
60319    공원로
60320    공원로
60321    공원로
60325    공원로
60326    공원로
60327    공원로
60329    공원로
60330    공원로
60332    공원로
60350    공원로
60351    공원로
62327    공원로
63817    공원로
65848    공원로
66232    공원로
97216    공원로
97217    공원로
97218    공원로
Name: 도로명, dtype: object

In [26]:
cn = data[data2['시/도'] == '충남']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                  new_site
갤러리아백화점 센터시티            51
천안 펜타포트몰                42
신세계백화점 본관2동             36
와이몰                     29
신세계백화점 본관1동             26
홈플러스천안점                 23
홈플러스 천안신방점              17
롯데마트 성정점                16
온양전통시장                  16
홈플러스 보령점                12
신세계백화점본관1동               8
롯데마트 천안아산점               8
롯데마트 천안점                 8
천안신세계백화점 주차타워7F          5
신세계백화점본관2동               4
홈플러스 계룡점                 4
천안역지하상가                  4
신세계백화점본관1동 1층            2
천안아라리오산업                 2
신세계백화점 옥외                2
롯데마트 당진_롯데리아GDW2         1
천지향 홈플러스계룡               1
금산버스터미널                  1
신세계백화점본관2동 1층            1
파리바게뜨 안서점                1
신세계백화점                   1
롯데마트 당진점                 1
천안동부새마을금고-2              1
홍성청운대학교 기숙사              1
충무병원본관                   1
문화센터 롯데마트                1
부여군청 1F                  1

In [52]:
cn[cn['new_site'] == '천지향 홈플러스계룡'][['시/도','구/군','도로명']]

      시/도  구/군   도로명
81398  충남  계룡시  계룡대로

In [16]:
# 충북 9

In [55]:
cn = data[data2['시/도'] == '충북']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                new_site
청주 북부시장               16
롯데아울렛 청주점             14
홈플러스 오창점              11
지웰시티몰2차               10
청주 육거리                 9
대지웰시티 상가동              9
홈플러스_동청주점              8
오창LK트리플렉스2             7
농협중앙회 물류센타지점           7
충주 자유시장                5
단양 구경시장                5
청주_롯데마트_2F             4
청주_롯데마트_1F             4
단양 영춘전통시장              3
청주내덕자연시장 1F            3
청주 서문시장                3
홈플러스 청주성안점             3
홈플러스 오창점지하             3
롯데영플라자 4F              2
청주 수곡시장                2
옥천농협                   2
롯데영플라자 3F              2
롯데영플라자 5F              2
청남농협 하나로마트             2
롯데영플라자 B1              2
지웰시티몰2차 B1             2
청주사창시장 1F              2
롯데마트 제천점               2
롯데영플라자 2F              2
삼성전자서비스북청주센터           2
괴산전통시장                 2
롯데영플라자 1F              2
청주드림플러스 5F             1
농협 하나로클럽산남점            1
청주드림플러스                1
하이마트 율량지점              1
청주시외버스터미널              1
복대지웰시티                 1
던킨도너츠 청주성안홈플러스         1
롯데아울렛 4F               1
홈플러스 오창점1층             1
청주드림플러스 4F             1

In [65]:
cn[cn['new_site'] == '춘천 이마트'][['시/도','구/군','도로명']]

      시/도      구/군   도로명
83968  충북  청주시 흥덕구  2순환로

In [54]:
# 경북 3

In [66]:
cn = data[data2['시/도'] == '경북']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

              new_site
롯데마트 구미점            21
홈플러스 안동점            12
롯데백화점 포항점            4
모다아울렛 김천구미점          4
롯데마트                 1
이마트 안동점_옥동B2         1
이마트 안동점_옥동3F         1
하이마트 죽도동             1
인동하나로마트              1
롯데백화점 포항점별관          1

In [72]:
cn[cn['new_site'] == '롯데백화점 포항점'][['시/도','구/군','도로명']]

      시/도     구/군  도로명
6615   경북  포항시 북구  학산로
6618   경북  포항시 북구  학산로
11430  경북  포항시 북구  학산로
73197  경북  포항시 북구  학산로

In [ ]:
# 경남 7

In [85]:
cn[cn['new_site'] == '모다아울렛 진주점'].도로명

80605    NaN
80606    NaN
80607    NaN
80623    NaN
80624    NaN
80625    NaN
80626    NaN
80627    NaN
80633    NaN
80739    NaN
Name: 도로명, dtype: object

In [73]:
cn = data[data2['시/도'] == '경남']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

            new_site
진주갤러리아 백화점        28
홈플러스 마산점          14
롯데아울렛 김해점         13
모다아울렛             13
모다아울렛 진주점         10
롯데백화점 마산점          7
롯데마트 창원중앙점         6
대우백화점 마산           4
모다아울렛 5F           3
바나나빌딩              3
모다아울렛 2F           3
모다아울렛 3F           3
모다아울렛 4F           3
하이마트 상남점           3
LG베스트샵 상남점         2
모다아울렛 7F           2
롯데마트               1
롯데마트 삼계점           1
모다아울렛 6F           1
모다아울렛 8F           1
롯데리아 하나로마트         1
오션플래이스 백화점         1
모다아울렛 B1           1

In [82]:
cn[cn['new_site'] == '이마트 익산점'][['시/도','구/군','도로명']]

Empty DataFrame
Columns: [시/도, 구/군, 도로명]
Index: []

In [ ]:
# 전북 4

In [83]:
cn = data[data2['시/도'] == '전북']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

            new_site
홈플러스 완산           23
홈플러스 효자점          21
전주남부시장 1F         11
롯데백화점 전주점         10
하나로클럽              6
익산 황등시장            5
이마트 익산점            3
전주남부시장 2F          3
롯데마트 송천점           2
남부시장 1F            2
롯데백화점 8F           1
군산공설시장             1
홈플러스 전주완산점         1

In [91]:
cn[cn['new_site'] == '하나로클럽'][['시/도','구/군','도로명']]

      시/도      구/군   도로명
64026  전북  전주시 덕진구  비석날로
64027  전북  전주시 덕진구  비석날로
64028  전북  전주시 덕진구  비석날로
64029  전북  전주시 덕진구  비석날로
64030  전북  전주시 덕진구  비석날로
64033  전북  전주시 덕진구  비석날로

In [ ]:
# 전남 2

In [92]:
cn = data[data2['시/도'] == '전남']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

           new_site
이마트여수점           15
순천NC백화점           9
롯데마트              9
순천씨내몰             4
삼성홈플러스광양점         4

In [96]:
cn[cn['new_site'] == '세종파이낸스센터'][['시/도','구/군','도로명']]

Empty DataFrame
Columns: [시/도, 구/군, 도로명]
Index: []

In [ ]:
# 세종 1개

In [97]:
cn = data[data2['시/도'] == '세종']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

            new_site
세종파이낸스센터          11
홈플러스 조치원점          4
서면농협 하나로마트         2

In [99]:
cn[cn['new_site'] == '홈플러스 조치원점'][['시/도','구/군','도로명']]

      시/도  구/군   도로명
71686  세종  NaN   NaN
80968  세종  NaN  허만석로
81453  세종  NaN   NaN
82145  세종  NaN   NaN

In [ ]:
# 경기 38

In [100]:
cn = data[data2['시/도'] == '경기']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                   new_site
원마운트                     49
라페스타                     41
롯데프리미엄아울렛이천점             41
롯데백화점                    32
롯데백화점 일산점                26
롯데백화점 평촌점                25
수진역지하상가                  21
세이브존 성남점                 20
롯데마트 안성점                 20
하나로클럽                    20
롯데백화점 분당점                19
롯데아울렛 고양터미널점             18
롯데마트 안산점                 16
레이크쇼핑타운                  16
롯데마트 천천점                 16
롯데마트 의왕점                 13
롯데마트(양주점)                12
롯데백화점(안산점)               12
신세계첼시프로미엄아울렛             12
의정부제일시장 나동               11
이마트                      10
롯데마트 대야점                 10
롯데마트 서현점                 10
의정부지하상가 서부                9
의정부제일시장 가동                9
AK플라자평택                   9
홈플러스                      9
의정부제일시장 라동                9
홈플러스 야탑점                  9
의정부제일시장 다동                8
그랜드백화점 일산점                8
고양터미널                     8
롯데마트 시화점                  7
홈플러스김포점                   7
롯데마트 고양점                  7
의정부지하상가 동부                7
롯데백화점 중동점                 6
뉴코아 동수원점                  6
뉴서울쇼핑타운                   6
웨스턴돔 트럼펫플라워               6
홈플러스(포천송우점) 1F            5
웨스턴돔 워터릴리                 5
시티2000                    5
롯데마트 평택점_C                5
홈플러스 고양터미널                5
화성하나로마트                   4
롯데마트 장암점                  4
롯데마트                      4
홈플러스(포천송우점) B1            4
롯데마트 평촌점                  4
이마트 풍무동점                  4
홈플러스(포천송우점) 2F            3
롯데마트 문화센터                 3
병점홈플러스 1F                 3
롯데마트 주엽점                  3
롯데백화점문화센터(안산점)            3
롯데백화점-안양점 B1              2
롯데마트                      2
센트럴타워(의정부동) 6F            2
센트럴타워(의정부동) 1F            2
병점홈플러스 B1                 2
AK플라자평택 8F                2
롯데마트 동두천점                 2
센트럴타워(의정부동) 14F           2
롯데백화점-안양점 7               1
해태프라자                     1
구리롯데백화점                   1
센트럴타워(의정부동) 11F           1
롯데백화점-안양점 2               1
구리농수산물공사C동                1
아름다운문화센터(지행동) B1          1
대_신세계첼시프로미엄아울렛 서관         1
테크노파크E동(야탑동) 1F           1
_C                        1
롯데백화점-안양점 3               1
롯데프리미엄아울렛이천점 청자동          1
구리농수산물공사D동                1
하평플리스 7F                  1
롯데백화점-안양점 8               1
롯데아울렛                     1
롯데백화점-안양점 5               1
롯데마트 수지점                  1
SM문고 롯데마트                 1
홈플러스김포점 1F                1
골든스퀘어 동관(망포동)             1
인베스텔빌딩(산본동) B1            1
센트럴타워(의정부동) 13F           1
골든스퀘어 서관(망포동)             1
롯데마트 화정점                  1
인베스텔빌딩(산본동) 2F            1
롯데마트 김포점                  1
병점홈플러스 2F                 1
대_CU_신세계첼시점_GD            1
홈플러스(포천송우점) 3F            1
롯데마트 마석점                  1

In [156]:
cn[cn['new_site'] == '인천 롯데마트'][['시/도','구/군','도로명']]

Empty DataFrame
Columns: [시/도, 구/군, 도로명]
Index: []

In [103]:
cn[cn['new_site'] == '시티2000']['군']
#만안로 안양시
#

23773    고양시 일산서구
31512    고양시 일산서구
34328    고양시 일산서구
34479    고양시 일산서구
34919    고양시 일산서구
Name: 군, dtype: object

In [ ]:
# 인천 11

In [157]:
cn = data[data2['시/도'] == '인천']

cn_site = cn['Site 명'].tolist()

new_site = []
for i in cn_site:
    num = []
    num = i.split(' ')
    
    if len(num) >= 2:
        new_site_words = num[0] + ' ' + num[1]
        new_site.append(new_site_words)
    else:
        new_site.append(i)
        
cn['new_site'] = new_site

cn['new_site'].value_counts().to_frame()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                 new_site
인천 롯데마트                23
모다아울렛                  19
롯데마트 영종도점              19
롯데백화점 부평점              18
롯데백화점-인천점              18
롯데마트 연수점               10
김포공항아울렛 계양점             9
홈플러스 작전점                9
롯데마트 부평역점               8
인천신기시장                  7
부평일번가빌딩 (부평동)           6
YD타워                    6
인천신기시장 공용주차장            5
이마트동인천점 1F              4
이마트동인천점 2F              4
롯데마트                    4
롯데백화점-인천점 1F            3
롯데백화점 인천점               3
롯데마트 삼산점                3
롯데마트 부평점                2
홈플러스(작전점)2F             2
롯데마트 검단점                2
롯데백화점-인천점 B2            1
YD타워 유학네트               1
YD타워 청담클리닉              1
YD타워 웅진씽크빅              1
롯데백화점-인천점 3F            1
롯데백화점-인천점 2F            1
YD타워 솔로몬저축              1
이마트동인천점 3F              1
YD타워 예인치과               1
YD타워 CYON서비스센타          1
롯데백화점-인천점(7층-1)         1
롯데백화점-인천점 B1            1
YD타워 동부화재               1
학익시장                    1

In [179]:
cn[cn['new_site'] == '롯데마트 부평점'][['시/도','구/군','도로명']]

     시/도  구/군  도로명
9531  인천  부평구  마장로
9883  인천  부평구  마장로

In [107]:
cn[cn['new_site'] == '롯데마트']['군']

4976     계양구
74684     서구
74686     서구
74687     서구
Name: 군, dtype: object